<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

   <!-- <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.ariezz.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Department</servlet-name>
        <servlet-class>com.ariezz.controller.DepartmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Department</servlet-name>
        <url-pattern>/department</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Employee</servlet-name>
        <servlet-class>com.ariezz.controller.EmployeeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeUpdate</servlet-name>
        <servlet-class>com.ariezz.controller.EmployeeUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeUpdate</servlet-name>
        <url-pattern>/employeeUpdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewEmployee</servlet-name>
        <servlet-class>com.ariezz.controller.NewEmployeeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewEmployee</servlet-name>
        <url-pattern>/newEmployee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.ariezz.controller.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewDepartment</servlet-name>
        <servlet-class>com.ariezz.controller.NewDepartmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewDepartment</servlet-name>
        <url-pattern>/newDepartment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepartmentUpdate</servlet-name>
        <servlet-class>com.ariezz.controller.DepartmentUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentUpdate</servlet-name>
        <url-pattern>/departmentUpdate</url-pattern>
    </servlet-mapping> -->


</web-app>